---
import AboutUsCard from "./AboutUsCard.astro";
import Santiago from "@assets/hero/retrato.jpg";
---

<section
id="about"
  class="w-full py-10 px-6 flex h-full flex-col gap-8 items-center justify-center md:gap-12"
>
  <h2 class="text-6xl">Sobre mí</h2>

  <AboutUsCard
    title="Santiago Avilez"
    image={Santiago}
    description=""
  />
</section>
