---
import AboutUsCard from "./AboutUsCard.astro";
import melina from "@assets/hero/melina.jpg";
import Santiago from "@assets/hero/retrato.jpg";
---

<section class="w-full py-10 flex h-full flex-col gap-4 md:gap-12 items-center">
    <h2 class="text-6xl">¿Quienes somos?</h2>

    <AboutUsCard
        title="Melina Batalla"
        description={"Bussines Coach, Diseñadora Gráfica,​Especialista en Marketing y Redes sociales."}
        image={melina}
    />
    <AboutUsCard
        title="Santiago Avilez"
        description="Desarrollador web fullstack, especialista desarrollo y despliegue de aplicaciones web y móviles."
        image={Santiago}
        odd
    />
</section>
