---
import { Button } from "@components/ui/button";
---

<section class="flex justify-center">
    <Button className="font-bold text-xl  py-7 px-5"
        >COTIZAR PRESUPUESTO
    </Button>
</section>
