---
import { Button } from "@components/ui/button";
---

<section class="flex justify-center py-6">
  <a target="_blank" href="https://wa.me/5492984648765">
    <Button className="font-bold text-xl  py-7 px-5"
      >COTIZAR PRESUPUESTO
    </Button>
  </a>
</section>
