---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@components/ui/card";


interface Props {
  title: string;
  description: string;
  lottieUrl: string;
  index: number;
}
const { title, description, lottieUrl, index } = Astro.props;
const delay = index * 250;
---


<div
  data-aos="zoom-out-up"
  data-aos-duration="150"
  data-aos-delay={delay}
  data-aos-once="true"
  class="flex w-full"
>
  <div class="w-full md:flex flex-col min-w-72 relative  rounded-xl hover:scale-105 transition-all duration-300">
    <div class="relative p-1">
      <dotlottie-player
        src={lottieUrl}
        background="transparent"
        speed="1"
        style="width: 300px; height: 300px"
        loop
        autoplay></dotlottie-player>
      
    </div>
    <div class="w-full z-30 relative rounded-xl">
      <Card
        className="flex w-full  flex-col justify-between border-0 shadow-sm bg-transparent rounded-xl"
      >
        <CardHeader className="h-full justify-between">
          <CardTitle> {title} </CardTitle>
          <CardDescription>
            {description}
          </CardDescription>
        </CardHeader>
      </Card>
    </div>
  </div>
</div>
