---
import CallToAction from "@components/CallToAction.astro";
import ServiceCard from "./ServiceCard.astro";
import desing from "@assets/services/desing.jpg";
import webdev from "@assets/services/web-dev-background.jpg";

import { CardDescription, CardTitle } from "@components/ui/card";
import ServiceCTA from "./ServiceCTA.astro";
import optimizacion from "../../../assets/services/performance.png";
---

<section
  class="max-w-[68rem] w-full py-20 px-6 flex flex-col gap-4 justify-start"
>
  <header class="md:flex md:justify-between items-center gap-2 lg:gap-4 pb-6">
    <div
      data-aos="fade-left"
      data-aos-easing="ease"
      data-aos-duration="300"
      class=""
    >
      <CardTitle className="text-5xl md:text-6xl pb-2">¿Qué puedo hacer por tí? </CardTitle>
      <CardDescription className="text-lg text-wrap">
        Mi equipo puede ayudarte a construir tu proyecto digital.
      </CardDescription>
    </div>

    <div
      data-aos="zoom-out"
      data-aos-easing="ease"
      data-aos-delay="600"
      data-aos-duration="300"
      class="hidden md:block"
    >
      <ServiceCTA CTAText="Más información" />
    </div>
  </header>
  <div
    class="flex w-full flex-col items-center justify-around md:flex-row gap-10 pb-10"
  >
    <ServiceCard
      title="Optimización web"
      description="Me aseguro de que tu sitio web cargue rapido. \n\n      Me asegurare que tu sitio tenga puntaje casi perfecto en Google LightHouse."
      image={optimizacion}
      index={1}
    />
    <ServiceCard
      title="Desarrollo"
      description="Construcción de sitios web, aplicaciones móviles y aplicaciones web."
      image={webdev}
      index={0}
    />

    <ServiceCard
      title="Mantenimiento"
      description="Mantenimiento de tu proyecto, actualizaciones y soporte técnico."
      image={desing}
      index={2}
    />
  </div>
  <div class="text-xl place-self-center md:hidden">
    <ServiceCTA CTAText="Más información" />
  </div>
</section>
