---
import ServiceCard from "./ServiceCard.astro";

import { CardDescription, CardTitle } from "@components/ui/card";
import ServiceCTA from "./ServiceCTA.astro";
---

<section
  class="max-w-[68rem] w-full py-20 px-6 flex flex-col gap-4 justify-start"
>
  <header class="md:flex md:justify-between items-center gap-2 lg:gap-4 pb-6">
    <div
      data-aos="fade-left"
      data-aos-easing="ease"
      data-aos-duration="300"
      class=""
    >
      <CardTitle className="text-5xl md:text-6xl pb-2"
        >¿Qué puedo hacer por tí?
      </CardTitle>
      <CardDescription className="text-lg text-wrap">
        Mi equipo puede ayudarte a construir tu proyecto digital.
      </CardDescription>
    </div>

    <div
      data-aos="zoom-out"
      data-aos-easing="ease"
      data-aos-delay="600"
      data-aos-duration="300"
      class="hidden md:block"
    >
      <ServiceCTA CTAText="Más información" />
    </div>
  </header>
  <div class="flex w-full flex-col items-center md:flex-row justify-around gap-20 pb-10">
    <ServiceCard
      title="Desarrollo"
      description="Construyo tu sitio web desde cero, adaptandome a tus necesidades y requerimientos. Me aseguro de cumplir con tus expectativas."
      lottieUrl="https://lottie.host/7d390bad-af64-4d75-a23d-275063fc1f41/ODdq2IHc2a.lottie"
      index={0}
    />
    <ServiceCard
      title="Optimización web"
      description="Me aseguro de que tu sitio web cargue rapido. Me asegurare que tu sitio tenga puntaje casi perfecto en Google LightHouse."
      lottieUrl="https://lottie.host/cf2234d2-f3fc-4595-b22a-82e83af81af0/kGdro5IakH.lottie"
      index={1}
    />

    <ServiceCard
      title="Mantenimiento"
      description="Me encargo de  mantener tu sitio web actualizado y funcionando correctamente. Me aseguro de que tu sitio web tenga un buen rendimiento."
      lottieUrl="https://lottie.host/4150eda1-6273-4244-ad6e-efd6a9b78212/3mNcD4JiV2.lottie"
      index={2}
    />
  </div>
  <div class="text-xl place-self-center md:hidden">
    <ServiceCTA CTAText="Más información" />
  </div>
</section>
<script
  src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
  type="module"></script>
