---
import { Image } from "astro:assets";
import melina from "@assets/hero/melina.jpg";
import solucionador from "@assets/ieai.png";
import { ArrowUpRight } from "lucide-react";
import ServiceCTA from "../services/ServiceCTA.astro";
---

<div
  class="h-full min-h-[500px] relative md:p-20 md:mt-20 w-full flex flex-col items-center"
>
  <div
    class="w-full md:w-1/2 aspect-square cursor-pointer bg-[#FFA127] rounded-full border-[6px] border-neutral-900 md:absolute right-[calc(55%)] top-0 z-10 transition-all duration-200 transform"
  >
    <div
      class="w-8/12 h-full flex flex-col justify-center text-left items-center p-6"
    >
      <p class="text-black font-bold">
        Construcción de ​Sitios Web - Redes ​Sociales - ​Mantenimiento -
        ​Asesoría - Bussines ​Coach
      </p>
    </div>
  </div>

  <Image
    class="w-full md:w-1/2 aspect-square -mt-20 md:mt-0 cursor-pointer bg-blue-500 rounded-full border-[6px] border-neutral-900 md:absolute left-1/4 top-0 z-20 transition-all duration-200 transform"
    src={melina}
    width={500}
    height={500}
    loading={"eager"}
    fetchpriority={"high"}
    alt={"melina"}
  />

  <Image
    class="w-full md:w-1/2 aspect-square -mt-20 md:mt-0 cursor-pointer bg-red-500 rounded-full border-[6px] border-neutral-900 md:absolute left-[calc(55%)] top-0 z-30 transition-all duration-200 transform object-cover"
    src={solucionador}
    width={500}
    height={500}
    loading={"eager"}
    fetchpriority={"high"}
    alt={"melina"}
  />
  <div class="md:absolute top-0 right-0 md:w-auto relative w-full z-50 -mt-3">
    <ServiceCTA />
    <div
      class="border-2 absolute -z-10 -top-7 right-0 border-gray-50/85 h-fit rounded-full p-3 w-fit"
    >
      <ArrowUpRight className="w-7 h-7" />
    </div>
  </div>
</div>
