---
import { Image } from "astro:assets";
import melina from "@assets/hero/melina.jpg";
import solucionador from "@assets/hero/solucionado-pantallazo.png";
---

<div
  class="h-full min-h-[500px] relative md:p-20 md:mt-20 w-full flex flex-col"
>
  <div
    class="w-full md:w-1/2 aspect-square cursor-pointer bg-[#FFA127] rounded-full border-[6px] border-neutral-900 md:absolute right-[calc(55%)] top-0 z-10 hover:z-50 transition-all duration-200 transform hover:scale-105"
  >
    <div
      class="w-8/12 h-full flex flex-col justify-center text-left items-center p-6"
    >
      <p>
        Construcción de ​Sitios Web - Redes ​Sociales - ​Mantenimiento -
        ​Asesoría - Bussines ​Coach
      </p>
    </div>
  </div>

  <Image
    class="w-full md:w-1/2 aspect-square -mt-20 md:mt-0 cursor-pointer bg-blue-500 rounded-full border-[6px] border-neutral-900 md:absolute left-1/4 top-0 z-20 hover:z-50 transition-all duration-200 transform hover:scale-105"
    src={melina}
    width={500}
    height={500}
    alt={"melina"}
  />

  <Image
    class="w-full md:w-1/2 aspect-square -mt-20 md:mt-0 cursor-pointer bg-red-500 rounded-full border-[6px] border-neutral-900 md:absolute left-[calc(55%)] top-0 z-30 hover:z-50 transition-all duration-200 transform hover:scale-105"
    src={solucionador}
    width={500}
    height={500}
    alt={"melina"}
  />
</div>
