---
import AnimatedSpan from "@components/react/animatedSpan";
import Circles from "./Circles.astro";
import AnimatedCtaHero from "@components/react/AnimatedCtaHero";
import AnimatedFlickerHVO from "./AnimatedFlickerHVO";
import ProjectsCarrousel from "../projects/ProjectsCarrousel";

const animatedTextsArray1 = [
  {
    text: "Transformare tu visión en un producto, ",
  },
  {
    text: " impactante ",
    highlight: true,
  },
  {
    text: "  sin desperdiciar ",
  },
  {
    text: "  inversión.",
    highlight: true,
  },
];
const animatedTextsArray2 = [
  {
    text: "Te ayudare a crear un MVP, ",
  },
  {
    text: " escalable ",
    highlight: true,
  },
  {
    text: " y ",
  },
  {
    text: " atractivo ",
    highlight: true,
  },
  {
    text: " para tus usuarios.",
  },
];
const animatedTextsArray3 = [
  {
    text: "Acelera ",
    highlight: true,
  },
  {
    text: " el lanzamiento de tu ",
  },
  {
    text: " startup ",
    highlight: true,
  },
  {
    text: " con tecnologias, ",
  },
  {
    text: " innovadoras y escalables. ",
    highlight: true,
  },
];

const mainAnimatedText = [
  {
    text: "Creo MVP´S que  ",
  },
  {
    text: " validan ",
    highlight: true,
  },
  {
    text: " tu idea en ",
  },
  {
    text: "  tiempo récord.",
    highlight: true,
  },
];

const ctaArray = [
  mainAnimatedText,
  animatedTextsArray3,
  animatedTextsArray2,
  animatedTextsArray1,
];
const arrayText = ["sitio web", "aplicación móvil", "aplicación web"];
---

<div class="w-full m-auto p-2 md:p-10 md:pt-2 h-full">
  <div
    class="stack min-h-screen pt-20 md:justify-center gap-4 items-center text-center h-full"
  >
    <div class="w-full absolute top-1/4 right-0 h-full z-50">
      <!-- <img
        src="https://www.prisma.io/illustrations/home-page/hero-lines.svg"
        width="100%"
        height="100%"
      /> -->
      <div class="w-full -rotate-12 opacity-10">
        <ProjectsCarrousel client:visible />
      </div>

    </div>
    <h1 class="text-4xl md:text-7xl text-center leading-tight font-bold">
      Digitaliza tu Negocio
    </h1>

    <h3 class="text-2xl md:text-4xl max-w-screen-md">
      <AnimatedFlickerHVO ctaArray={ctaArray} client:load />
    </h3>

    <!-- Circulos -->
  </div>
</div>
