---
import AnimatedSpan from "@components/react/animatedSpan";
import Circles from "./Circles.astro";
import AnimatedCtaHero from "@components/react/AnimatedCtaHero";
import AnimatedFlickerHVO from "./AnimatedFlickerHVO";

const animatedTextsArray1 = [
  {
    text: "Transformare tu visión en un producto, ",
  },
  {
    text: " impactante ",
    highlight: true,
  },
  {
    text: "  sin desperdiciar ",
  },
  {
    text: "  inversión.",
    highlight: true,
  },
];
const animatedTextsArray2 = [
  {
    text: "Te ayudare a crear un MVP, ",
  },
  {
    text: " escalable ",
    highlight: true,
  },
  {
    text: " y ",
  },
  {
    text: " atractivo ",
    highlight: true,
  },
  {
    text: " para tus usuarios.",
  },
];
const animatedTextsArray3 = [
  {
    text: "Acelera ",
    highlight: true,
  },
  {
    text: " el lanzamiento de tu ",
  },
  {
    text: " startup ",
    highlight: true,
  },
  {
    text: " con tecnologias, ",
  },
  {
    text: " innovadoras y escalables. ",
    highlight: true,
  },
];

const mainAnimatedText = [
  {
    text: "Creo MVP´S que  ",
  },
  {
    text: " validan ",
    highlight: true,
  },
  {
    text: " tu idea en ",
  },
  {
    text: "  tiempo récord.",
    highlight: true,
  },
];

const ctaArray = [
  mainAnimatedText,
  animatedTextsArray3,
  animatedTextsArray2,
  animatedTextsArray1,
];
const arrayText = ["sitio web", "aplicación móvil", "aplicación web"];

import portrait from "../../../assets/hero/profile_picture.jpg";
import Brands from "./Brands.astro";

import Santiago from "@assets/hero/retrato-old.webp";
import { Image } from "astro:assets";
import ServiceCTA from "../services/ServiceCTA.astro";
import { CardDescription } from "@components/ui/card";
---

<div
  class="w-full flex flex-col items-center justify-center gap-28 m-auto md:p-10 min-h-[calc(75svh)] h-full"
>
  <div
    class="stack container p-5 justify-center  md:justify-start gap-6 items-center text-center h-full"
  >
    <div
      class="flex flex-col md:flex-row w-full justify-around gap-6 items-center"
    >
      <div class="flex flex-col text-center md:text-left items-start gap-4">
        <h1 class="text-4xl md:text-7xl leading-tight font-bold">
          Lleva tu sitio web al siguiente nivel
        </h1>

        <span class="text-xl h-20 md:h-32 md:text-4xl max-w-screen-md">
          <AnimatedFlickerHVO ctaArray={ctaArray} client:load />
        </span>
        <div
          class="flex flex-wrap justify-center items-center md:items-baseline md:gap-3"
        >
          <ServiceCTA CTAText="Conocer Más" />
          <CardDescription className="text-xl">
            Más de 20 marcas confian en mi trabajo
          </CardDescription>
        </div>
      </div>
      <div class="w-72 hidden md:block md:w-[560px] md:order-2">
        <Image
          src={portrait}
          width={portrait.width}
          width={portrait.height}
          alt="hero"
          class="w-full rounded-full"
        />
      </div>
    </div>
  </div>
  <div data-aos={"fade"} data-aos-duration="800" data-aos-easing="ease-in-sine">
    <div class="h-20">
      <Brands direction="backward" />
    </div>
    <div class="h-20">
      <Brands direction="forward" />
    </div>
  </div>
</div>
