---
import AnimatedSpan from "@components/react/animatedSpan";
import Circles from "./Circles.astro";
import AnimatedCtaHero from "@components/react/AnimatedCtaHero";
import AnimatedFlickerHVO from "./AnimatedFlickerHVO";
import HeroCarrousel from "./HeroCarrousel";
import CallToAction from "@components/CallToAction.astro";
import Icon from "@components/Icon.astro";

const animatedTextsArray1 = [
  {
    text: "Transformare tu visión en un producto, ",
  },
  {
    text: " impactante ",
    highlight: true,
  },
  {
    text: "  sin desperdiciar ",
  },
  {
    text: "  inversión.",
    highlight: true,
  },
];
const animatedTextsArray2 = [
  {
    text: "Te ayudare a crear un MVP, ",
  },
  {
    text: " escalable ",
    highlight: true,
  },
  {
    text: " y ",
  },
  {
    text: " atractivo ",
    highlight: true,
  },
  {
    text: " para tus usuarios.",
  },
];
const animatedTextsArray3 = [
  {
    text: "Acelera ",
    highlight: true,
  },
  {
    text: " el lanzamiento de tu ",
  },
  {
    text: " startup ",
    highlight: true,
  },
  {
    text: " con tecnologias, ",
  },
  {
    text: " innovadoras y escalables. ",
    highlight: true,
  },
];

const mainAnimatedText = [
  {
    text: "Creo MVP´S que  ",
  },
  {
    text: " validan ",
    highlight: true,
  },
  {
    text: " tu idea en ",
  },
  {
    text: "  tiempo récord.",
    highlight: true,
  },
];

const ctaArray = [
  mainAnimatedText,
  animatedTextsArray3,
  animatedTextsArray2,
  animatedTextsArray1,
];
const arrayText = ["sitio web", "aplicación móvil", "aplicación web"];
import Santiago from "@assets/hero/retrato-old.webp";
import { Image } from "astro:assets";
---

<div
  class="w-full flex flex-col md:flex-row items-center justify-center gap-20 m-auto p-2 md:p-10 md:py-28 min-h-screen h-full"
>
  <div
    class="stack max-w-lg pt-20 md:justify-center gap-6 items-center md:items-start text-left h-full"
  >
    <h1 class="text-4xl md:text-6xl text- md:text-left leading-tight font-bold">
      Digitaliza tu Negocio
    </h1>

    <h3 class="text-2xl max-w-screen-md">
      <AnimatedFlickerHVO ctaArray={ctaArray} client:load />
    </h3>
    <div
      data-aos="zoom-out"
      data-aos-easing="ease"
      data-aos-delay="600"
      data-aos-duration="300"
      class="text-black"
    >
      <CallToAction class:list={"w-auto"} href="/projects/">
        COTIZAR PRESUPUESTO
        <Icon icon="arrow-right" size="1.2em" />
      </CallToAction>
    </div>
    <!-- Circulos -->
  </div>
  <div class="bg-black rounded-full">
    <Image
      class={` rounded-full  `}
      src={Santiago}
      alt="melina"
      width={350}
      height={350}
    />
  </div>
</div>
