---
import ServiceCard from "./ServiceCard.astro";
import melina from "@assets/hero/melina.jpg";
---

<section class="w-full py-10 flex justify-center">
    <div
        class="flex w-full flex-col items-center justify-around md:flex-row flex-wrap gap-20"
    >
        <ServiceCard
            title="Desarrollo"
            description="Construcción de sitios web, aplicaciones móviles y aplicaciones web."
            image={melina}
            />
        <ServiceCard
            title="Diseño"
            description="Contruccion de Branding, identidad visual a medida. "
            image={melina}
        />
        <ServiceCard
            title="Mantenimiento"
            description="Mantenimiento de tu proyecto, actualizaciones y soporte técnico."
            image={melina}
            />
    </div>
</section>
