---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">
  <div class="my-auto">
    <Hero title="Page Not Found" tagline="Not found" />
  </div>
</BaseLayout>
