---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import BlogPreview from "../components/BlogPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = (await getCollection("blog")).sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout title="Mis Trabajos | Santiago Avilez" description="Blog.">
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero title="Posteos destacados" tagline="" align="start" />
            <Grid variant="offset">
                {
                    projects.map((project, index) => (
                        <li class="overflow-hidden">
                            <BlogPreview index={index % 2} project={project} />
                        </li>
                    ))
                }
            </Grid>
        </main>
        <ContactCTA />
    </div>
</BaseLayout>
