---
import Hero from "@components/home/hero/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Services from "@components/home/services/Services.astro";
import ServiceCTA from "@components/home/services/ServiceCTA.astro";
import Grid from "@components/Grid.astro";
import { Card, CardHeader } from "@components/ui/card";
import AboutUs from "@components/home/about/AboutUs.astro";
import ProjectsPreview from "@components/home/projects/ProjectsPreview.astro";
---

<BaseLayout>
  <div
    class="w-full h-full min-h-screen flex flex-col items-center mx-auto overflow-hidden"
  >
    <Hero />
    <Services />
    <ProjectsPreview />
    <AboutUs />

    <ServiceCTA />
  </div>
</BaseLayout>
