---
import Hero from "@components/home/hero/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Services from "@components/home/hero/Services.astro";
---

<BaseLayout>
  <div class="w-full flex flex-col px-6 md:p-10 md:pt-0">
    <Hero />
    <Services />
  </div>
</BaseLayout>
