---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = (await getCollection("projects")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Mis Trabajos | Santiago Avilez"
	description="Aprende sobre los trabajos mas recientes de Santiago Avilez y su experiencia laboral."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Mis Trabajos"
				tagline="Mira mis trabajos mas recientes, para que tengas una idea de mis experiencias como desarrollador en los ultimos años."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project, index) => (
						<li class="overflow-hidden">
							<PortfolioPreview
								index={index % 2}
								project={project}
							/>
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
