---
interface Props {
    href?: string;
}

const href = Astro.props.href;
---

<a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium rounded-lg group bg-gradient-to-br from-cerulean-400 to-indigo-600 group-hover:from-cerulean-400 group-hover:to-indigo-600 hover:text-gray-950 text-white focus:ring-4 focus:outline-none focus:ring-cerulean-600 cursor-pointer"
>
    <span
        class="relative px-2.5 md:px-5 py-2.5 transition-all ease-in duration-75 bg-gray-900 rounded-md group-hover:bg-opacity-0"
    >
        Live preview
    </span>
</a>
