---
---

<div class="gap-8 sm:grid sm:grid-cols-2">
    <div>
        <dl>
            <dt class="text-lg font-medium text-gray-500 dark:text-gray-400">
                TypeScript
            </dt>
            <dd class="flex items-center mb-5">
                <div
                    class="w-full bg-gray-200 rounded h-2.5 dark:bg-gray-700 mr-2"
                >
                    <div
                        class="bg-blue-600 h-2.5 rounded dark:bg-blue-500"
                        style="width: 78%"
                    >
                    </div>
                </div>
                <span
                    class="text-lg font-medium text-gray-500 dark:text-gray-400"
                    >78%</span
                >
            </dd>
        </dl>
        <dl>
            <dt class="text-lg font-medium text-gray-500 dark:text-gray-400">
                Html y CSS
            </dt>
            <dd class="flex items-center mb-5">
                <div
                    class="w-full bg-gray-200 rounded h-2.5 dark:bg-gray-700 mr-2"
                >
                    <div
                        class="bg-blue-600 h-2.5 rounded dark:bg-blue-500"
                        style="width: 80%"
                    >
                    </div>
                </div>
                <span
                    class="text-lg font-medium text-gray-500 dark:text-gray-400"
                    >80%</span
                >
            </dd>
        </dl>
        <dl>
            <dt class="text-lg font-medium text-gray-500 dark:text-gray-400">
                Next.js
            </dt>
            <dd class="flex items-center mb-5">
                <div
                    class="w-full bg-gray-200 rounded h-2.5 dark:bg-gray-700 mr-2"
                >
                    <div
                        class="bg-blue-600 h-2.5 rounded dark:bg-blue-500"
                        style="width: 75%"
                    >
                    </div>
                </div>
                <span
                    class="text-lg font-medium text-gray-500 dark:text-gray-400"
                    >75%</span
                >
            </dd>
        </dl>
        <dl>
            <dt class="text-lg font-medium text-gray-500 dark:text-gray-400">
                React js
            </dt>
            <dd class="flex items-center mb-5">
                <div
                    class="w-full bg-gray-200 rounded h-2.5 dark:bg-gray-700 mr-2"
                >
                    <div
                        class="bg-blue-600 h-2.5 rounded dark:bg-blue-500"
                        style="width: 75%"
                    >
                    </div>
                </div>
                <span
                    class="text-lg font-medium text-gray-500 dark:text-gray-400"
                    >75%</span
                >
            </dd>
        </dl>
    </div>
    <div>
        <dl>
            <dt class="text-lg font-medium text-gray-500 dark:text-gray-400">
                Tailwind CSS
            </dt>
            <dd class="flex items-center mb-5">
                <div
                    class="w-full bg-gray-200 rounded h-2.5 dark:bg-gray-700 mr-2"
                >
                    <div
                        class="bg-blue-600 h-2.5 rounded dark:bg-blue-500"
                        style="width: 65%"
                    >
                    </div>
                </div>
                <span
                    class="text-lg font-medium text-gray-500 dark:text-gray-400"
                    >65%</span
                >
            </dd>
        </dl>
        <dl>
            <dt class="text-lg font-medium text-gray-500 dark:text-gray-400">
                Node.js
            </dt>
            <dd class="flex items-center mb-5">
                <div
                    class="w-full bg-gray-200 rounded h-2.5 dark:bg-gray-700 mr-2"
                >
                    <div
                        class="bg-blue-600 h-2.5 rounded dark:bg-blue-500"
                        style="width: 65%"
                    >
                    </div>
                </div>
                <span
                    class="text-lg font-medium text-gray-500 dark:text-gray-400"
                    >65</span
                >
            </dd>
        </dl>
        <dl>
            <dt class="text-lg font-medium text-gray-500 dark:text-gray-400">
                Laravel
            </dt>
            <dd class="flex items-center mb-5">
                <div
                    class="w-full bg-gray-200 rounded h-2.5 dark:bg-gray-700 mr-2"
                >
                    <div
                        class="bg-blue-600 h-2.5 rounded dark:bg-blue-500"
                        style="width: 73%"
                    >
                    </div>
                </div>
                <span
                    class="text-lg font-medium text-gray-500 dark:text-gray-400"
                    >73%</span
                >
            </dd>
        </dl>
        <dl>
            <dt class="text-lg font-medium text-gray-500 dark:text-gray-400">
                DevOps
            </dt>
            <dd class="flex items-center mb-5">
                <div
                    class="w-full bg-gray-200 rounded h-2.5 dark:bg-gray-700 mr-2"
                >
                    <div
                        class="bg-blue-600 h-2.5 rounded dark:bg-blue-500"
                        style="width: 45%"
                    >
                    </div>
                </div>
                <span
                    class="text-lg font-medium text-gray-500 dark:text-gray-400"
                    >55%</span
                >
            </dd>
        </dl>
    </div>
</div>
