---
import Icon from "./Icon.astro";
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4 animate__animated animate__fadeInUp">
		<Icon
			icon="terminal-window"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Full Stack</h2>
		<p>
			Especialista en desarrollo web, tanto como en la creacion de UI/UX
			(fronted), asi como en la arquitectura interna (backend).
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4 animate__animated animate__fadeInUp">
		<Icon
			icon="book"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Autodidacta</h2>
		<p>
			Estoy constantemente buscando nuevos desafíos y oportunidades para
			mejorar mis habilidades y ampliar mi conocimiento en la tecnología y
			la programación.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4 animate__animated animate__fadeInUp">
		<Icon
			icon="idea"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Mentalidad</h2>
		<p>
			Me motiva encontrar soluciones eficientes y efectivas a través del
			uso de la tecnología, lo que me permite aplicar mis habilidades y
			conocimientos en un entorno práctico y real.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
